html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}


/*---------------------------------------------------------------------------------------------------*/


.mud-title {
    font-weight: bold !important;
}


/*---------------------------------------------------------------------------------------------------*/


.notes-container {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: repeat(5, 1fr);
}

    .notes-container .mud-content {
        flex-direction: column;
        border-radius: 20px !important;
        max-width: 250px;
        height: 160px;
        cursor: pointer;
        padding: 1rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: space-between;
        transition: all 0.3s ease;
    }

    .notes-container .mud-card:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
        transform: scale(1.05) translateY(-5px) rotate(2deg) !important;
    }



/*---------------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------------------------*/


@media (max-width: 1220px) {
    .notes-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .notes-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 760px) {
    .notes-container {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .notes-container {
        grid-template-columns: 1fr;
        font-size: 1rem;
    }
}
