@inherits LayoutComponentBase
@attribute [Authorize(Roles = "Admin")]

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

        <MudContainer>
        <MudText>
           You Are Authorized - Admin Home Page
        </MudText>
    </MudContainer>

        <MudContainer Class="content px-4">
            @Body
        </MudContainer>
</div>
