@inherits LayoutComponentBase

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<PageTitle>NTS.Client</PageTitle>

<MudContainer class="page">
    <MudAppBar>
    </MudAppBar>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <MudContainer Class="content px-4 pt-20">
            @Body
        </MudContainer>
    </main>
</MudContainer>
