@using NTS.Client.Services
@inherits LayoutComponentBase
@inject ThemeService themeService

<MudThemeProvider @bind-IsDarkMode="@themeService.isDarkMode" Theme="@themeService.CustomTheme" />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudContainer class="page">
    <MudAppBar>
        <MudImage Class="" Src=""></MudImage>
        <h5 class="text-white text-2xl font-bold mx-3">Blazing Notesu</h5>
    </MudAppBar>

    <MudContainer Class="pt-20">
        @Body
    </MudContainer>
</MudContainer>