@inherits LayoutComponentBase

<MudThemeProvider />
<MudSnackbarProvider />
<MudDialogProvider />
<MudPopoverProvider />

<PageTitle>NTS.Client</PageTitle>

<MudContainer class="page">
    <MudAppBar>
        <MudImage Class="" Src=""></MudImage>
        <h5 class="text-white text-2xl font-bold mx-3">Blazing Notesu</h5>
    </MudAppBar>

        <MudContainer Class="content px-4 pt-20">
            @Body
        </MudContainer>
</MudContainer>
