@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />


<MudContainer class="page">
    <MudContainer class="sidebar">
        <NavMenu />
    </MudContainer>

    <main>
        <MudContainer class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </MudContainer>

        <article class="content px-4">
            @Body
        </article>
    </main>
</MudContainer>
