@page "/createnotedialog"
@inherits CreateNoteDialogBase

<MudDialog Style="height: 520px">
    <DialogContent>
        <h5 Class="text-3xl text-center font-bold mb-5">Create Note</h5>

        <MudSelect @bind-Value="currentNote.Priority" Label="Set Priority">
            <MudSelectItem Value="@("High")" />
            <MudSelectItem Value="@("Low")" />
        </MudSelect>

        <MudContainer>
            <MudTextField Class="mb-10" T="string" @bind-Value="currentNote.Title" Variant="Variant.Text" Label="Title" />
            <MudTextField Class="mb-7" T="string" @bind-Value="currentNote.Content" @ref="multilineReference" Label="Content" Lines="13" Variant="Variant.Text" />
        </MudContainer>

        <MudButton onclick="HandleCreateNoteAsync" Color="Color.Success" Variant="Variant.Filled" FullWidth>
            Create
        </MudButton>
    </DialogContent>
</MudDialog>
