@page "/forgotpassworddialog"
@inherits ForgotPasswordDialogBase

<MudDialog Style="max-height: 270px; width: 500px; justify-content: center;">
    <DialogContent>
        <div>
            <h6 class="text-2xl font-bold ml-20 pl-10">Forgot Password</h6>
        </div>

        <MudContainer>
            <h6 class="py-3 text-1xl font-semibold">Recovery Email</h6>
            <MudTextField Variant="Variant.Outlined" Label="name@example.com" @bind-Value="forgotPasswordDto.RecoveryEmail" />
        </MudContainer>

        <MudContainer Class="py-3">
            <MudButton Class="mr-20 ml-20" Color="Color.Primary" Variant="Variant.Outlined" OnClick="Submit">Submit</MudButton>
            <MudButton Color="Color.Error" Variant="Variant.Outlined" OnClick="Cancel">Cancel</MudButton>
        </MudContainer>
    </DialogContent>
</MudDialog>
