@page "/forgotpassworddialog"
@inherits ForgotPasswordDialogBase

<MudDialog Style="max-height: 270; width: 500px;">
    <DialogContent>
        <MudPaper Elevation="5">
            <MudContainer>
                <h6 class="text-3xl font-medium">Forgot Password</h6>
            </MudContainer>

            <MudContainer>
                <h6 class="py-3 text-1xl">Recovery Email</h6>
                <MudTextField Variant="Variant.Outlined" Label="name@example.com" @bind-Value="forgotPasswordDto.RecoveryEmail" />
            </MudContainer>

            <MudContainer Class="py-3">
                <MudButton Class="mr-20 ml-20"  Color="Color.Primary" Variant="Variant.Outlined" OnClick="Submit">Submit</MudButton>
                <MudButton Color="Color.Error"  Variant="Variant.Outlined" OnClick="Cancel">Cancel</MudButton>
            </MudContainer>
        </MudPaper>
    </DialogContent>
</MudDialog>
